# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
!Makefile.lib
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.tmp
u-boot.sym
u-boot.srec
u-boot.lds
u-boot.img
u-boot.dtb
u-boot.cfg.configs
u-boot.cfg
u-boot.bin
u-boot-sunxi-with-spl.bin
u-boot-nodtb.bin
u-boot-dtb.img
u-boot-dtb.bin
u-boot
spl/u-boot.cfg
spl/u-boot-spl.lds
spl/u-boot-spl.bin
spl/u-boot-spl-nodtb.bin
spl/u-boot-spl
spl/sunxi-spl.bin
lib/asm-offsets.s
arch/arm/lib/asm-offsets.s
